# IDE and editors
.idea/
.vscode/

# Dependencies
node_modules/
/node_modules
.yarn/
.pnp
.pnp.js

# Testing
/coverage

# Production builds
/build
dist/

# Environment files
.env
*.env
*.env.*
.env.local
.env.production
backend/.env
frontend/.env

# Python
__pycache__/
*.pyc
.venv/
venv/
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.replit

# Mobile development
.expo/
android/
ios/

# System files
.DS_Store
Thumbs.db
